root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
dotnet_diagnostic.CA1848.severity = none
indent_size = 4
csharp_new_line_before_open_brace = none
csharp_preferred_modifier_order = public, private, protected, internal, static, readonly, async

[*.{csproj,json,xml}]
indent_size = 2